/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --3fex-hight: 550px;
    --3fex-width: 300px;
}

body {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

hr {
    width: 100%;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh min-content min-content min-content ;
}

.con {
    box-shadow: 0px 1px 300px 150px rgba(0,0,0,1);
    padding: 10px;
    max-width: 960px;
    margin: 2vh auto;
    height: 96vh;
    display: flex;
    flex-flow: wrap;
    color: rgb(255, 255, 255);     
    border: solid 2px; 
    border-radius: 10px;
}

p#box1, p#box2, .con {
    border-color:rgb(34, 120, 188);
}

p#box1 {
    border-radius: 10px 10px 60px;    
    margin: auto auto auto 0;
}

p#box2 {
    border-radius: 60px 10px 10px 10px; 
    margin: auto 0 auto auto;   
} 

p.title  {
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
    background: rgba(0, 0, 0, .2);
    letter-spacing: 2px;
    font-size: 5em;
    font-weight: bold;
    color: rgb(255, 255, 255);     
    text-shadow: 1px 2px #040404;
    padding: 25px;    
    text-align: center;
    width: 570px; 
    height: 280px;  
    font-family: Staatliches; 
}

@media handheld,  (max-width: 600px), (max-height: 600px) {
    
        p.title {
            width: 85vw;
            height: 44vh;
            font-size: 13vmin;
        }
        .con {
            border: none;
        }
}

div#first  {
    position: sticky;
    top: 0px;   
    background-image: url(./img/photo-1555099962-4199c345e5dd.jpg);  
    background-position: center;
    /* #TODO dodac mniejszy obrazek  */
    background-size: cover;
}

div#second {
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 50px 0px;    
    top: 0;
}

.threeColums {
    margin:10px;
    padding: 23px;
    font-size: 22px;
    text-align: justify;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: var(--3fex-width);
    height: var(--3fex-hight);
    background: rgba(255, 255, 255, .1);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 5px rgb(0, 0, 0);
}

.threeColums span:first-of-type {
        font-size: 40px;
        line-height: 2em;
        font-weight: 700;
}

.threeColums hr {
    margin: 20px;
}

.threeColums img{
    height: 120px;
}

div#third {
    z-index: 4;
    display: flex;    
    justify-content: center;
}

.container{
    max-width: 960px;
    padding: 40px 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.box { 
    background-color: white;
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: 10px;
    position: relative;
}

.container :nth-child(1){
    background-image: url(./img/3.jpg);
}

.container :nth-child(2){
    background-image: url(./img/2.png);
}

.container :nth-child(3){
    background-image: url(./img/5.jpg);
}

.container :nth-child(4){
    background-image: url(./img/4.jpg);
}
.container :nth-child(5){
    background-image: url(./img/6.jpg);
}
.container :nth-child(6){
    background-image: url(./img/1.png);
}

div#fourth {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 72, 91, 0.8);
    background-image: url(./img/photo-1555099962-4199c345e5dd.jpg);
    background-position: center;
    background-size: cover;   
}

.contact-input {
    width: 300px;
    margin: 5px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}

#message {
    height: 150px;
}

.contact-text {
    font-size: 37px;
    font-weight: bold;
    color: white;
    padding: 40px;
    text-shadow: 1px 2px #040404;
}

#merged {
    z-index: 30;
    background-image: linear-gradient(5deg, #174F6E, #9b6565);

    background-color: blueviolet;
}

input, textarea, button {
    border: 1px 
    #007100 solid;
    border-radius: 2px;
    padding: 10px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;;
}