/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,  100vh) ;
}


.screen {
    position: sticky;
    top: 0px;    
}

p.title  {
    background: #0000008a;
    letter-spacing: 2px;
    font-size: 5em;
    font-weight: bold;
    color: rgba(255, 255, 255, .6);
    border: solid 5px;    
    padding: 25px;    
    text-align: center;
    width: 500px; 
    height: 280px;   
    margin: calc( (100vh - 560px) /4) calc( (100vw - 500px) /5);
}

@media handheld,  (max-width: 600px), (max-height: 600px) {
    p.title  {
        margin: 3vh 2vw;
        width: 85vw;
        height: 44vh;
        font-size: 13vmin;
        }   
}

p#box1 {
    border-radius: 30px 30px 60px;
    position: relative;
}

p#box2 {
    border-radius: 60px 30px 30px 30px;
    position: relative;
    float: right;
}

div#first  {
    background-image: url(./img/photo-1477346611705-65d1883cee1e.jpg);   
    /* #TODO dodac mniejszy obrazek  */
}

#second {
    z-index: 2;
    background-color: salmon;
    opacity: 0.5;
}

#third {
    z-index: 4;
    background-color: cornflowerblue;

}

#fourth {
    z-index: 6;
    background-color: sienna;
}